@model APIIndexVM

@{
    ViewData["Title"] = "Index";
    //string dataBind = "";
    //Dictionary<string,string>? parms = new Dictionary<string, string>
    //{
    //    {"FancyId", ""},
    //    {"URL", Model.URL}
    //};

    //asp-all-route-data=parms
    //onclick=@(parms["Id"]=item.OrderID.ToString())
}

<h1>Api Controller</h1>

<div class="row w-100">
    <div class="col">
        <form method="post" class="card p-4 alert-info ">
            <p class="text-center" ><strong>Set Api Url:</strong> This API is for subreddits only the default URL is http://reddit.com/r/aww/.json any provided url will be ignored unless it is in similar format...</p>
            <label class=" text-center" >ENTER U R L</label>
            <input 
                    asp-for=@Model.URL 
                    class="form-control " 
                    placeholder="http://reddit.com/r/aww/.json" 
                    type="text" />
            <input asp-controller="Home" asp-action="IndexPOST" type="submit" class="btn btn alert-primary mt-2"/>
            @*<div class="row flex-grow-3 justify-content-around align-items-center w-100">*@
    

    
        </form>
    </div>
    <div class="col">
        <form method="post" class="card p-4 alert-info ">
            <p class="text-center" ><strong>Set Api Url:</strong> This API is for subreddits only the default URL is http://reddit.com/r/aww/.json any provided url will be ignored unless it is in similar format...</p>
            <label class="col-form-label text-center" >ENTER U R L</label>
            <select asp-for=@Model.URL typeof="text" class="form-select" >
                @foreach (var url in Model.UrlList)
                {
                            <option>
                                @url.Url
                            </option>
                }
                </select>
                <input asp-controller="Home" asp-action="IndexPOST" type="submit" class="btn btn alert-primary mt-2"/>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelList[0].OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelList[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelList[0].ImageURL)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ModelList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                <partial name="_ApiUrlFormPartial" model=@item />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { id=item.ImageURL }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    <a 
                        asp-action="Create" 
                        asp-all-route-data=@(new Dictionary<string,string>{
                            {"FancyId", item.OrderID.ToString()},
                            {"URL", Model.URL}
                        }) 
                        >Create New
                    </a>
            </td>
        </tr>
}       
    </tbody>
</table>
@section scripts{
    <style>
        body{
            background: linear-gradient(120deg,lightgreen 1%, transparent);
        }

    </style>
}