@model APIIndexVM

@{
    ViewData["Title"] = "IndexPOST";
    
}
<div class="jumbotron">
    <h1>Api Controller</h1>
</div>


<div class="row w-100">
    <div class="col">
        <form method="post" class="card p-4 alert-primary ">
            <p class="text-center" ><strong>Set Api Url:</strong></p>
            <label class=" text-center" >ENTER U R L</label>
            <input 
                    asp-for=@Model.URL 
                    class="form-control " 
                    placeholder="http://reddit.com/r/aww/.json" 
                    type="text" />
            <input asp-controller="Home" asp-action="IndexPOST" type="submit" class="btn btn alert-info mt-2"/>
            @*<div class="row flex-grow-3 justify-content-around align-items-center w-100">*@



        </form>
    </div>
    <div class="col">
        <form method="post" class="card p-4 alert-primary ">
            <p class="text-center" ><strong>Select from List:</strong></p>
            <label class="col-form-label text-center" >ENTER U R L</label>
            <select asp-for=@Model.URL typeof="text" class="form-select">
                @foreach (var url in Model.UrlList)
                {
                                <option>
                        @url.Url
                                </option>
                }
                </select>
                <input asp-controller="Home" asp-action="IndexPOST" type="submit" class="btn btn alert-info mt-2"/>
        </form>
    </div>
</div>
<table class="table alert-info">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelList[0].Title)
            </th>
            <th>
                Actions
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ModelList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                    
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ImageURL }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        <a 
                        asp-action="Create" 
                        asp-all-route-data=@(
                            new Dictionary<string,string>
                                {
                                    {"FancyId", item.OrderID.ToString()},
                                    {"URL", Model.URL}
                                }) 
                        >Create New
                        </a>
                </td>
                <td>
                    <partial name="_ApiUrlFormPartial" model=@item />
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    <style>
        body{
            background: linear-gradient(100deg,magenta 1%,transparent);
        }
    </style>
}