@model IEnumerable<Aww_MVC.Models.CategoryVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Category</h1>

<p>
    <a asp-action="Create">Create Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
@{
    <style>
        tbody{
                background: linear-gradient( 170deg,transparent, orange 99%);
        }
        thead{
                background: linear-gradient( 170deg,transparent, orange 99%);
        }
        body{
            background: linear-gradient(140deg, transparent, orange 99%);
                

        }
    </style>
}